$primaryColor: #081640;
$secondaryColor: #69359c;

$bodyTextColor: #262834;
$placeholderColor: #764978;
$white: #fff;
$black: #000;


$bodyFontSize: 16px;
$bodyLineHeight: 1.4;
$bodyFontFamily: 'Muli', sans-serif;
$headingFont: 'Muli', sans-serif;

$h1Size: 36px;
$h2Size: 30px;
$h3Size: 18px;
$h4Size: 16px;
